html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Убирает полосы прокрутки */
  background-color: #000; /* Необязательно, фон, если канвас не сразу покроет */
}
canvas { /* Чтобы убедиться, что канвас отображается как блочный элемент без лишних отступов */
  display: block;
}