
      @font-face {
    font-family: 'PP Mori'; /* Используйте уникальное имя для вашего шрифта */
    src: url('fonts/PPMori-SemiBold.woff') format('woff'); /* Современные браузеры */
      резерва */
    font-weight: normal;
    font-style: normal;
}
    html, body {
            font-family: 'PP Mori', sans-serif; 
        cursor: url('img/cursor.png')16 16, auto;
       
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
        background-color: #E4E4E4;
         letter-spacing: 0.3px
    }

    canvas {
      display: block; 
      max-width: 95%; 
      margin: auto; 
      }
    
a {
    color: black; 
}

.text-left-bottom, .text-right-bottom {
        font-family: 'PP Mori', sans-serif; 
    position: fixed; /* Использование 'fixed' для позиционирования относительно окна браузера */
    bottom: 3px; /* Отступ от нижнего края */
    font-size: 12px;   
    color: #000000;
}

.text-left-bottom {
    left: 15px;
}

.text-right-bottom {
    right: 15px;
}
    }
